.aboutcontainer {
  display: flex;
  height: 400px;
  width: 100vw;
  background-color: #ffffff;
  align-items: center;
  font-size: 14px;
}

.aboutmaincontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: var(--sectionWidth);
  margin: 0 auto;
}

.aboutleft {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 45%;
  position: relative;
}

.aboutright {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 55%;
}

.aboutheader {
  letter-spacing: 1px;
  line-height: 1.2;
  font-weight: 500;
  font-size: 2rem;
  margin-bottom: 10px;
}

.aboutpreheader {
  color: var(--themeColor);
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.lineafter::after {
  content: "";
  display: inline-block;
  width: 30px;
  height: 3px;
  background-color: #2b85c5;
  margin-left: 10px;
}

.aboutsubtitle {
  color: var(--themeAltColor);
  font-weight: 300;
  margin-bottom: 20px;
}

.aboutlabel {
  position: absolute;
  right: 100px;
  top: -30px;
  background-color: #ffffff;
  width: 130px;
  height: 130px;
  border-radius: 65px;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.aboutnumber {
  color: var(--themeColor);
  font-size: 30px;
  font-weight: 500;
  font-style: normal;
}

.aboutlabeltext {
  width: 70px;
  text-transform: capitalize;
}
