.joincomcontainer {
  display: flex;
  height: 500px;
  width: 100vw;
  font-size: 14px;
  background: #fff url(/images/join-community.png) no-repeat center center;
  background-size: cover;
  flex-direction: column;
  justify-content: center;
}

.joincommaincontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: var(--sectionWidth);
  margin: 0 auto;
  align-items: center;
}

.joincomleft {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  width: 40%;
  height: 250px;
}

.joincomheader {
  letter-spacing: 1px;
  line-height: 1.2;
  font-weight: 500;
  font-size: 2rem;
  margin-bottom: 10px;
  color: #ffffff;
}

.joincomsubtitle {
  color: #ffffff;
  font-weight: 300;
  margin-bottom: 20px;
}

.communitydetail {
  display: flex;
  width: 800px;
  height: 130px;
  background-color: #ffffff;
  margin: -65px auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.communitydtlcard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25%;
}

.communitydtlnum {
  font-size: 24px;
  font-weight: 500;
  color: var(--themeColor);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  border-right: 2px solid #c7c7c78a;
}

.communitydtltext {
  font-size: 12px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  border-right: 2px solid #c7c7c78a;
}
