.navbarcontainer {
  display: flex;
  height: var(--navbarHeight);
  width: 100vw;
  background-color: #ffffff;
  align-items: center;
  font-size: 14px;
}

.navbarmaincontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: var(--sectionWidth);
  margin: 0 auto;
}

.navbarleft {
  display: flex;
  align-items: center;
}

.navbarright {
  display: flex;
  align-items: center;
}

.navlist {
  list-style: none;
  display: flex;
  align-items: center;
}

.navlistitems {
  font-family: "Outfit", sans-serif;
  font-size: 1rem;
  cursor: pointer;
  margin: 20px;
  color: var(--themeAltColor);
}

.icosearch {
  display: flex;
  width: 22px;
  height: 22px;
  background-size: cover;
  background-position: center;
  background-image: url(/images/Search.svg);
}

.search {
  width: 35px;
  display: flex;
  border-left: 1px solid var(--themeAltColor);
  justify-content: flex-end;
}

.navactive {
  color: var(--themeColor);
  position: relative;
}

.navactive::after {
  border-bottom: 2px solid var(--themeColor);
  bottom: -7px;
  content: "";
  left: 5%;
  position: absolute;
  width: 50%;
}
