@import "tailwind/index.css";
@import "local/index.css";
@import "config/index.css";

.formcontainer {
  position: relative;
}

.formerror {
  display: none;
  color: red;
  font-size: 12px;
  font-style: italic;
  position: absolute;
  right: 0px;
  bottom: -25px;
}

.filecontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: -5px;
}

input[id="mobileNo"]::-webkit-outer-spin-button,
input[id="mobileNo"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[id="mobileNo"] {
  -moz-appearance: textfield;
}
