@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-heading-4: 45px;
  --lh-heading-4: 55px;
  --font-heading-3: 32px;
  --lh-heading-3: 45px;
  --custom-header-height: 75px;
}
@layer base {
  .font-Inter {
    font-family: var(--font-Inter);
  }
}

.heading-3,
.heading-2 {
  @apply font-bold;
}
.heading-2 {
  font-size: clamp(1.7rem, 3.5vw, var(--nextui-font-size-heading-4));
  line-height: clamp(2.1rem, 5.5vw, var(--nextui-line-height-heading-4));
}
.heading-3 {
  font-size: clamp(1.5rem, 2.5vw, var(--nextui-font-size-heading-3));
  line-height: clamp(2rem, 5.5vw, var(--nextui-line-height-heading-3));
}

.navbar-wrapper {
  header {
    @apply px-unit-sm;
  }
}

.navigation-link {
  @apply text-content1-oldsilver hover:text-primary transition duration-700 text-sm;
}
.navigation-active-link {
  @apply text-primary transition duration-700 relative text-sm;
  .active-link-border {
    @apply h-[2px] w-[20px] bg-primary absolute bottom-[-10px] left-0;
  }
}
.btn-primary {
  @apply bg-primary text-white rounded-none;
}
.btn-primary-inverse {
  @apply bg-white text-primary rounded-none;
}

.year-experience {
  @apply absolute  bg-secondary-foreground flex flex-col h-[150px] items-center justify-center rounded-full shadow-md text-center top-[-50px] w-[150px] z-10;
}

.bg-current-opening-wrapper {
  @apply bg-current-opening min-h-[500px] bg-cover bg-no-repeat bg-center;
}

.bg-expert-community-wrapper {
  @apply bg-expert-community h-[590px] sm:h-[480px] md:h-[550px] bg-cover bg-no-repeat bg-center bg-fixed;
}

.bg-testimonial-wrapper {
  @apply bg-testimonial min-h-[360px] bg-cover bg-no-repeat bg-center;
}

.accordian-wrapper {
  .acordian-action[aria-expanded="false"] {
    @apply rounded-lg;
  }
}
.accordian-wrapper {
  .acordian-action[aria-expanded="true"] {
    @apply bg-primary text-white;
    .accordian-title {
      @apply text-white;
    }
    .idicator-white {
      svg > path {
        @apply stroke-white;
      }
    }
  }
}

.carrer-job {
  @apply bg-carrer-job min-h-[270px] bg-cover bg-no-repeat bg-center relative;
  .overlay {
    @apply absolute left-0 top-0 w-full h-full opacity-100 bg-transparent bg-gradient-to-r from-white from-25% to-[#ffffffcc] to-100%;
  }
}

.hero-bg {
  @apply sm:min-h-[355px] min-h-[190px] bg-cover bg-no-repeat relative;
  .overlay {
    @apply absolute left-0 top-0 w-full h-full opacity-100 bg-transparent bg-gradient-to-r from-secondary from-0% via-[#388bc6cc] via-25% to-[#2b85c500] to-100%;
  }
  &.about-us-bg {
    @apply bg-about-us-hero;
  }
  &.contact-us-bg {
    @apply bg-contact-us-hero;
  }
  &.send-us-message-bg {
    @apply bg-send-us-message;
  }
  &.blog-bg {
    @apply bg-blog-hero;
  }
  &.current-opening-bg {
    @apply bg-current-opening-hero;
  }
  &.job-seeker-bg {
    @apply bg-job-seeker-hero;
  }
}
.input-label-hidden {
  &.data-[has-label="true"] {
    @apply mt-0;
  }
  .label-hidden {
    @apply hidden;
  }
}

.swiper-pagination-bullet-active {
  @apply bg-primary;
}
.swipper-job-card-container {
  @apply mt-unit-xl;
  .swiper-wrapper {
    @apply mt-[75px] w-full h-full;
  }
  .swiper-button-next,
  .swiper-button-prev {
    @apply absolute top-[20px];
  }
  .swiper-button-prev {
    @apply lg:right-[105px] md:left-0;
    left: unset;
  }
  .swiper-button-next {
    @apply left-[80px] lg:left-[unset];
  }
}
.swiper-button-prev {
  @apply bg-slider-left-arrow;
}
.swiper-button-next {
  @apply bg-slider-right-arrow;
}

.swiper-button-prev,
.swiper-button-next {
  @apply bg-no-repeat bg-center bg-cover h-[50px] w-[65px];
}

.swiper-button-next::after,
.swiper-button-prev::after {
  @apply hidden;
}

.client-slider-container {
  @apply pt-unit-3xl sm:pl-unit-xl pl-0 pb-unit-xl pr-unit-lg;
  .swiper-wrapper {
    @apply grid sm:grid-cols-3 grid-cols-2 gap-unit-lg;
  }
  .swiper-button-next,
  .swiper-button-prev {
    @apply absolute top-[18px];
  }
  .swiper-button-prev {
    @apply left-0;
  }
  .swiper-button-next {
    @apply left-[100px];
  }
}

.testimonial-container {
  @apply min-h-[440px] lg:min-h-[370px];
}

.current-opening-blog {
  @apply p-unit-lg h-[300px] pt-unit-xl;
}

.navbar-menu-trs {
  @apply !h-[100%] bottom-[unset] ease-in-out duration-700 top-[165px] absolute w-full border-t-1 z-[100] border-gray-400;
}

.policy-nav {
  ul {
    @apply p-0 list-none;
    li {
      @apply mb-3;
    }
  }
  a {
    @apply text-content1-charlestonGreen block no-underline;
    &.active {
      @apply text-primary font-bold;
    }
  }
}
